body {
  background-color: #f4d467;
  margin: 0;
  /* text-align: center; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lang-card:hover {
  box-shadow: 3px 3px 10px 3px;
}
.lang-logo {
  transition: transform 0.2s ease-in;
}
.lang-card:hover .lang-logo {
  transform: scale(1.1);
}
